In [16]:
from pandas import read_csv
import pandas as pd

path = r"E:\Univeristy Material\6th Semester\Computer Science Courses\Artificial Intelligence\Labs\lab2.ipynb"
data=pd.read_csv(path, sep='\t')
print(data.shape)
print(data.dtypes)
data

(175, 1)
{    object
dtype: object

                             {
0                   "cells": [
1                            {
2         "cell_type": "code",
3       "execution_count": 15,
4            "id": "6ebab3d6",
..                         ...
170                          }
171                         },
172             "nbformat": 4,
173        "nbformat_minor": 5
174                          }

[175 rows x 1 columns]

In [18]:
path1 = r"E:\Univeristy Material\6th Semester\Computer Science Courses\Artificial Intelligence\Labs\pima-indians-diabetes1.csv"
headernames = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = read_csv(path1, names=headernames)

data[40:50]

    preg  plas  pres  skin  test  mass   pedi  age  class
40     3   180    64    25    70  34.0  0.271   26      0
41     7   133    84     0     0  40.2  0.696   37      0
42     7   106    92    18     0  22.7  0.235   48      0
43     9   171   110    24   240  45.4  0.721   54      1
44     7   159    64     0     0  27.4  0.294   40      0
45     0   180    66    39     0  42.0  1.893   25      1
46     1   146    56     0     0  29.7  0.564   29      0
47     2    71    70    27     0  28.0  0.586   22      0
48     7   103    66    32     0  39.1  0.344   31      1
49     7   105     0     0     0   0.0  0.305   24      0

In [20]:
from pandas import set_option
set_option('precision', 3)

data.describe()

OptionError: Pattern matched multiple keys

In [ ]:
count_class = data['class'].value_counts()
print(count_class)

In [ ]:
# correlation between attributes

correlations = data.corr(method='pearson')
print(correlations)

In [ ]:
# skew
skew = data.skew()
print(skew)

In [ ]:
# histogram
from matplotlib import pyplot

data.hist()
pyplot.tight_layout()
pyplot.show()

In [ ]:
# density 
data.plot(kind='density', subplots=True, layout=(3,3), sharex=False )
pyplot.tight_layout()
pyplot.show()

In [ ]:
# box and whiskers 
data.plot(kind='box', subplots=True, layout=(3,3), sharex=False,sharey=False)
pyplot.tight_layout()

pyplot.show()